@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");
@-webkit-keyframes hover-menu {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.7;
  }
}
@keyframes hover-menu {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.7;
  }
}

@-webkit-keyframes hover-images {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes hover-images {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #f4f3e8;
  font-family: 'Readex Pro', sans-serif;
}

/*falta corregir alturas de las imagenes en un editor*/
@media screen and (min-width: 641px) {
  #top, #top .carousel, #top .carousel div, #top .carousel div img {
    height: 100vh;
  }
}

@media screen and (max-width: 640) {
  #top, #top .carousel, #top .carousel div, #top .carousel div img {
    height: 60vh;
  }
}

header {
  background-color: #00382b;
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 12vh;
  /*barra navegacion movil/tablet */
}

header .nav-container .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 12vh;
}

@media screen and (max-width: 960px) {
  header .nav-container .nav {
    display: none;
  }
}

header .nav-container .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-container .nav ul li {
  display: inline;
  margin-left: 2%;
  margin-right: 2%;
}

header .nav-container .nav ul li a {
  text-decoration: none;
  list-style: none;
  color: #f4f3e8;
}

header .nav-container .nav ul li a img {
  width: 10vw;
}

header .nav-container .nav ul li a:hover {
  -webkit-animation: hover-menu;
          animation: hover-menu;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  opacity: 0.7;
}

header .mob-nav {
  background-color: #00382b;
  height: 65px;
}

@media screen and (min-width: 961px) {
  header .mob-nav {
    display: none;
  }
}

header .mob-nav #menuToggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 25px;
  left: 25px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

header .mob-nav #menuToggle input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

header .mob-nav #menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-3px, -1px);
          transform: rotate(45deg) translate(-3px, -1px);
  background: #36383F;
}

header .mob-nav #menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

header .mob-nav #menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

header .mob-nav #menuToggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}

header .mob-nav #menuToggle span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 5px 0px;
          transform-origin: 5px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

header .mob-nav #menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

header .mob-nav #menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

header .mob-nav #menu {
  padding: 0;
  list-style-type: none;
  position: absolute;
  width: 100%;
  height: 400px;
  -webkit-box-shadow: 0 0 10px #85888C;
          box-shadow: 0 0 10px #85888C;
  margin: -50px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background-color: #f4f3e8;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  text-align: center;
}

header .mob-nav #menu li {
  padding: 10px 0;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
  border-bottom: 2px dotted #d3d4d9;
}

header .mob-nav #menu li:first-child {
  border-top: 2px dotted #d3d4d9;
}

header .mob-nav #menu li .a-mob {
  text-decoration: none;
  color: #1E1E23;
  opacity: 1;
  font-size: 1.5em;
  font-weight: 400;
  -webkit-transition: 200ms;
  transition: 200ms;
}

header .mob-nav #menu li .a-mob:hover {
  opacity: 0.5;
}

.presentacion {
  padding: 10em;
  text-align: center;
  background-color: #f4f3e8;
}

.presentacion h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #232429;
}

.presentacion h2 {
  font-size: 2rem;
  font-style: italic;
  color: #393a3f;
}

#nosotros {
  background-color: #f4f3e8;
  padding: 3rem;
  font-size: 1.4rem;
}

#nosotros .historia {
  text-align: center;
}

#nosotros .historia h3 {
  font-size: 2rem;
  margin-top: 7px;
  margin-bottom: 7px;
  color: #232429;
}

#nosotros .historia .historia-contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 25px;
  color: #393a3f;
}

@media screen and (max-width: 960px) {
  #nosotros .historia .historia-contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#nosotros .historia .historia-contenedor div {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 2em;
}

#nosotros .historia .historia-contenedor div ul {
  list-style: none;
}

#productos {
  background-color: #f4f3e8;
  text-align: center;
  padding: 3rem;
  font-size: 1.4rem;
}

#productos h3 {
  margin-top: 60px;
  margin-bottom: 100px;
  font-size: 2rem;
  color: #232429;
}

#productos .productos-contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 25px;
  color: #393a3f;
}

@media screen and (max-width: 960px) {
  #productos .productos-contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#productos .productos-contenedor .img-contenedor {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

#productos .productos-contenedor .img-contenedor div img {
  border-radius: 70%;
  width: 50%;
  height: 70%;
  opacity: 50%;
}

#productos .productos-contenedor .img-contenedor div img:hover {
  -webkit-animation: hover-images;
          animation: hover-images;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  opacity: 1;
}

form {
  background-image: url("../../src/multimedia/images/panoramica-campo.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7em;
}

@media screen and (max-width: 960px) {
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

form h2 {
  color: #393a3f;
}

form ul {
  opacity: 90%;
}

form ul li {
  list-style: none;
  margin-top: 1em;
}

form ul li .input-area {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  border-radius: 5px;
  padding: 0.5em;
  width: 25em;
  max-width: 80vw;
  border: 1px solid #c1c2c7;
}

form ul li .input-area:focus {
  background: #c1e0d2;
  outline: none;
}

form ul li .submit {
  width: 25em;
  max-width: 80vw;
  border: 1px solid #c1c2c7;
  border-radius: 5px;
  background-color: #c1e0d2;
}

form ul li .submit:hover {
  background-color: #d2e9de;
  outline: none;
}

/*solucionar temas de espaciado y responsive*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #77ad9e;
  color: #232429;
  padding-top: 3rem;
}

@media screen and (max-width: 960px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer div {
  margin: 2em;
}

footer div img, footer div iframe, footer div ul {
  max-width: 75vw;
}

footer div img li, footer div iframe li, footer div ul li {
  list-style: none;
}

footer div img li a, footer div iframe li a, footer div ul li a {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */