@keyframes hover-menu {
    from {
        color: nth($colors, 5);
    }
    to {
        color: nth($colors, 4);
    }
}

@keyframes hover-images {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
    
}