@keyframes hover-menu {
    from {
        color: nth($colors, 5);
    }
    to {
        color: nth($grayscale, 1);
    }
}

@keyframes hover-images {
    from {
        transform: scale(1);
        opacity: 0.5;
    }
    to {
        transform: scale(1.2);
        opacity: 1;
    }
    
}

@keyframes hover-testimonios {
    from {
        background-color: nth($colors, 5 );
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
        background-color: nth($colors, 4);
    }
    
}