@mixin section-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin section-container-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
