footer {
    @include section-container;
    background-color: nth($colors, 3);
    color: black;
    padding-top: 3rem;

    @media screen and (max-width: 960px) {
        @include section-container-mobile;        
    }

    div {
        margin: 4%;
        width: 30%;

        img {
            width: 50%;
            border-radius: 10%;
        }

        ul {
            
            li {
                list-style: none;
            
                a {
                    text-decoration: none;
                }
            }
        }    
    }
}