/*solucionar temas de espaciado y responsive*/

footer {
    @include section-container;
    background-color: nth($colors, 3);
    color: nth($grayscale, 1);
    padding-top: 3rem;

    @media screen and (max-width: 960px) {
        @include section-container-mobile;        
    }
        
    div {
        /*solucionar centrado*/

        ul {
            
            li {
                list-style: none;
            
                a {
                    text-decoration: none;
                }
            }
        }
    }
}