/*solucionar temas de espaciado y responsive*/

#footer {
    @include section-container;
    justify-content: space-around;
    background-color: nth($colors, 3);
    color: nth($grayscale, 1);
    padding-top: 3rem;

    @media screen and (max-width: 769px) {
        @include section-container-mobile;        
    }
        
    div {
        margin: 2em;

        img, iframe, ul {
            width: 300px;
            max-width: 75vw;

            li {
                list-style: none;
                font-size: 1.15rem;

                &:first-child {
                    margin-bottom: 1rem;
                    font-weight: bold;
                    font-size: 1.7rem;               
                }
            
                a {
                    text-decoration: none;
                    color: nth($colors, 1);
                }
            }
        }
    }
}