form {
    margin-left: -1.5rem;
    background-image: url('../../src/multimedia/images/panoramica-campo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(165, 220, 241);
    background-blend-mode: overlay;
    @include section-container-mobile;
    padding: 7rem;

    h2 {
        font-weight: 800;
        font-size: 2.6rem;
        color: nth($grayscale, 1);
        margin-bottom: 4rem;
    }

    ul {

        li{
            list-style: none;
            margin-top: 1em;
            
            .input-area {
                box-sizing: border-box;
                display: block;
                border-radius: 5px;
                padding: 0.5em;
                width: 25em;
                max-width: 80vw;
                border: 1px solid #c1c2c7;

                &:focus {
                    background: nth($colors, 4);
                    outline: none;
                }

            }
            
            .submit {
                width: 25em;
                max-width: 80vw;
                border: 1px solid #c1c2c7;
                border-radius: 5px;
                background-color: nth($colors, 3);


                &:hover {
                    background-color: lighten(nth($colors, 4), 5%);
                    outline: none;

                    
                }
            }
        }
    }
    
}