* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');


body {
    background-color: nth($colors, 5);
    font-family: 'Readex Pro', sans-serif;
}