header { 
    background-color: nth($colors, 1);
    position: fixed;
    z-index: 3;
    width: 100%;  
    height: 12vh;

    .nav-container .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        height: 12vh;

        @media screen and (max-width: 960px) {
            display: none;           
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            li {                
                display: inline;
                margin-left: 2%;
                margin-right: 2%;
            
                a {                
                    text-decoration: none;
                    list-style: none;
                    color: nth($colors, 5);    

                    img {                        
                        width: 13%;
                    }
                
                    &:hover {
                        opacity: 50%;
                    }
                }
            }
        }
    }
     
    /*barra navegacion movil/tablet */
    .mob-nav {
        background-color: nth($colors, 1);
        height: 65px;

        @media screen and (min-width: 961px) {
            display: none;
        }

        #menuToggle {
            display: flex;
            flex-direction: column;
            position: relative;
            top: 25px;
            left: 25px;
            z-index: 1;
            -webkit-user-select: none;
            user-select: none;
          
            input {
                display: flex;
                width: 40px;
                height: 32px;
                position: absolute;
                cursor: pointer;
                opacity: 0;
                z-index: 2;

                &:checked ~ span {
                    opacity: 1;
                    transform: rotate(45deg) translate(-3px, -1px);
                    background: #36383F;
                }

                &:checked ~ span:nth-last-child(3) {
                    opacity: 0;
                    transform: rotate(0deg) scale(0.2, 0.2);
                }

                &:checked ~ span:nth-last-child(2) {
                  transform: rotate(-45deg) translate(0, -1px);
                }

                &:checked ~ ul {
                    transform: none;
                }
            }

            span {
                display: flex;
                width: 29px;
                height: 2px;
                margin-bottom: 5px;
                position: relative;
                background: #ffffff;
                border-radius: 3px;
                z-index: 1;
                transform-origin: 5px 0px;
                transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;

                &:first-child {
                    transform-origin: 0% 0%;
                }
                &:nth-last-child(2) {
                    transform-origin: 0% 100%;
                }
            }    
        }

            #menu {
                padding: 0;
                list-style-type: none;

                position: absolute;
                width: 100%;
                height: 400px;
                box-shadow: 0 0 10px #85888C;
                margin: -50px 0 0 -50px;
                padding: 50px;
                padding-top: 125px;
                background-color: nth($colors, 5);
                -webkit-font-smoothing: antialiased;
                transform-origin: 0% 0%;
                transform: translate(-100%, 0);
                transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
                text-align: center;

                li {
                    padding: 10px 0;
                    transition-delay: 2s;
                    border-bottom: 2px dotted nth($grayscale, 9);

                    &:first-child {
                        border-top: 2px dotted nth($grayscale, 9);
                    }

                    .a-mob {
                        text-decoration: none;
                        color: #1E1E23;
                        opacity: 1;
                        font-size: 1.5em;
                        font-weight: 400;
                        transition: 200ms;
                
                        &:hover {
                            opacity:0.5;
                        }
                } 
            }
        }
    }      
}