#nosotros {
    background-color: nth($colors, 5);
    padding: 3rem;
    font-size: 1.4rem;

    .historia {
        text-align: center;
    
        h3 {
            font-size: 2rem;
            margin-top: 7px;
            margin-bottom: 7px;
            color: nth($grayscale, 1);
        }
        
        .historia-contenedor {
            display: flex;
            flex-direction: column;
            margin-top: 25px;
            color: nth($grayscale, 2);
    
            @media screen and (max-width: 960px) {
                @include section-container-mobile;
            }

            div {
                display: block;
                box-sizing: border-box;
                margin: 2em;
                
                ul{
                    list-style: none;
                }
            }
        }
    }   
}