#testimonios {
    background-color: nth($colors, 5);
    text-align: center;
    padding: 3rem;
    font-size: 1.4rem;

    h3 {
        font-weight: 800;
        margin-top: 3rem;
        margin-bottom: 2rem;
        font-size: 3rem;
        color: nth($grayscale, 1);
    }

    div {
        display: flex;
        justify-content: space-around;
        margin-right: 2.5rem;
        margin-left: 2.5rem;
        column-count: 2;
        column-gap: 2rem;
        padding: 1.5rem;
        color: nth($grayscale, 2);

        @media screen and (max-width: 480px) {
            @include section-container-mobile;
            margin-right: 0;
            margin-left: 0;
        }

        blockquote {
            padding: 1rem;
            max-width: 300px;
            text-align: justify;
            margin: 0;
            text-justify: center;
            word-spacing: 0.2rem;
            border-radius: 0.7rem;

            &::before{
                content: open-quote;
                font-size: 4rem;
                color: nth($colors, 1);
                opacity: 0.5;
            }
    
            &::after {
                content: close-quote;
                font-size: 3rem;
                color: nth($colors, 1);
                opacity: 0;
                position: absolute;
            }

            &:hover {
                animation: hover-testimonios;
                animation-duration: 400ms;
                background-color: nth($colors, 4);
                transform: scale(1.2);
            }

            footer {
                margin-top: 1rem;
                font-size: 1rem;
                text-align: right;
            }
        }

        
    }
}